@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-primary: #FF6060;
$color-secondary: #FF79DA;
$color-tertiary: #FFFFFF;
$color-black: black;
$color-white: white;
$text-background: white;
$background: #000000;
$color-footer: #353535;

$primary-font: 'Montserrat' , sans-serif;
$title-font: 'Shrikhand' , sans-serif;
$font-normal: normal;

$medium-weight:500;
$strong-weight:700;
$text-size:24px;
$font-size-medium:18px;
$font-size: 48px;

$margin:20px;

$desktop-res: 1240px;
$desktop-res-height: 223px;
$margin-desktop: 100px;

$mobile-res-width: 335px;
$mobile-res-width: 255px;